<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Cursor Handler - A-Frame School</title>
  <meta name="description" content="Cursor Handler - A-Frame School">
  <script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>
  <script src="https://unpkg.com/super-hands@^3.0.3/dist/super-hands.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.misc.min.js"></script>
  <script src="https://gftruj.github.io/webzamples/aframe/controls/oculus-thumbstick-controls.js"></script>
</head>

<body>

  <a-scene antialias="false">
    <a-assets>
      <script type="text/typescript" src="../iframe/iframe.component.ts"></script>
      <img id="sky1" src="../../assets/360Sky/sky7.jpg">
    </a-assets>

<a-entity id="rig">

  <a-camera position="0 1.6 0"></a-camera>

  <a-entity oculus-touch-controls="hand: left" oculus-thumbstick-controls ></a-entity>

  <a-entity oculus-touch-controls="hand: right" laser-controls="hand: right " oculus-thumbstick-controls></a-entity>

</a-entity>

  <a-entity id = "future">

   <a-sky src="#sky1" radius="50" position="0 2.5 0" rotation="0 0 0" phi-length="360" theta-length="180"></a-sky>

    <!-- Racks models view -->

    <a-entity id="currentScene" visible = "true" position = "-1 0.5 -13">
      <!-- <a-entity light="type:point; intensity: 0.5; distance: 50; decay: 2 "
      position="0 1 0"></a-entity> -->
     
      <!-- <a-entity light="type:point; intensity: 0.5; "
      position="0 30 10"></a-entity> -->

      <a-light type = "point" color="white" position="0 0 -40"></a-light>
      <a-light type="point" color="yello" position="-9 0.4 57"></a-light>

    <!-- <a-light type="ambient" color="#222"></a-light> -->
    <!-- <a-entity gltf-model="../../assets/environment_models/mainhall.glb" position="30 -100 10"  rotation ="0 0 0"  scale = "10 10 10"></a-entity> -->
     
      <!-- <a-entity gltf-model="../../assets/buildings/vehera1.glb" position="50 -15 -15"  raotation ="0 0 0"  scale = "5 5 5"></a-entity> -->
    <!-- <a-entity position = "0 0.5 -10">
      <a-entity gltf-model="../../assets/environment_models/mainhall.glb" position="5 0 5"  rotation ="0 0 0"  scale = "10 10 10"></a-entity>
    </a-entity> -->

    <a-entity position = "-9 -0.5 50">
      <a-entity position = "5 0 -47">
        <a-light type="point" color="yello" position="0 20 10"></a-light>
        <a-light type="point" color="white" position="0 20 10"></a-light>
        <a-entity gltf-model="../../assets/environment_models/hall2.glb" position="5 0 -15"  rotation ="0 90 0"  scale = "1 2.7 3.2 "
        ></a-entity>
        <!-- <a-entity gltf-model="../../assets/roof_models/roof3.glb" position="5 15 -12"  rotation ="0 90 30"  scale = "0.05 0.05 0.05"
        ></a-entity> -->
      </a-entity>
    </a-entity>
    
    <a-entity position = "-4 4 20">
      <!-- main sound corners -->
      <a-entity
      id="cylinder"
      position="0 1.5 -3"
      sound="src: /assets/music/wind.mp3; autoplay:true; loop:true;"  ></a-entity>

     <a-entity
      id="cylinder"
      position="10 1.5 -3"
      sound="src: /assets/music/wind.mp3; autoplay:true; loop:true;"  ></a-entity>

      <a-entity
      id="cylinder"
      position="0 1.5 -20"
      sound="src: /assets/music/music2.mp3; autoplay:true; loop:true;"  ></a-entity>

      <a-entity
      id="cylinder"
      position="10 1.5 -20"
      sound="src: /assets/music/music3.mp3; autoplay:true; loop:true;"  ></a-entity>


      <a-entity
      id="cylinder"
      position="10 0 -12"
      sound="src: /assets/music/music3.mp3; autoplay:true; loop:true;"  ></a-entity>


      <a-entity
      id="cylinder"
      position="0 0 -12"
      sound="src: /assets/music/music3.mp3; autoplay:true; loop:true;"  ></a-entity> 
    </a-entity>
 
  
    <a-entity position = "-4 5.5 26">
      <a-entity position = "5 0 -45">
        <a-entity id="gate" gltf-model="../../assets/environment_models/environment4.glb" position="0 -6 20"  rotation ="0 -90 0"  scale = "0.02 0.025 0.02"></a-entity>
        <a-entity gltf-model="../../assets/environment_models/environment4.glb" position="0 -6 -10"  rotation ="0 -90 0"  scale = "0.02 0.025 0.02"></a-entity>

        <!-- <a-entity gltf-model="../../assets/future_models/car2.glb" position="-1 -5.2 40"  rotation ="0 -180 0"  scale = "1 1 1"></a-entity> -->
    


        <a-entity gltf-model="../../assets/board_models/board.glb" position="2 -5.4 32"  rotation ="0 -180 0"  scale = "0.8 0.5 0.5"></a-entity>
        
      </a-entity>
    
    </a-entity>

    <a-entity position = "-4 4.9 26">
        <a-entity position = "5.5 0 -50">
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 32"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 34"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 36"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 38"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 40"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 42"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 44"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 46"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 48"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 50"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 52"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 54"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 56"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 58"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 60"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
            <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 62"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>

        </a-entity>

        <a-entity position = "0.45 0 -50">
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 32"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 34"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 36"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 38"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 40"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 42"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 44"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 46"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 48"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 50"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 52"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 54"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 56"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 58"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 60"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>
          <a-entity gltf-model="../../assets/future_models/lantern.glb" position="2 -5.4 62"  rotation ="0 -180 0"  scale = "3 3 3"></a-entity>

      </a-entity>
    </a-entity>

    <a-entity position = "-2.1 0.5 38">
      <a-entity position = "5 0 -45">
        <!-- <a-light type="point" color="#FFAA33" intensity="40" position="0 5 -30" angle="20" penumbra="0.05"
        distance="45" target="#torch1"></a-light>
       

        <a-light type="point" color="#FFAA33" intensity="20" position="50 40 20" angle="20" penumbra="0.01"
        distance="45" target="#torch1"></a-light> -->

        <a-entity id="current-view" gltf-model="../../assets/button_models/button.glb" 
        position="0 0.1 19.7" rotation="90 -90 0" scale="0.1 0.1 0.1" 
        navigate-button="targetScene: current-lowamahapaya"></a-entity>


<a-entity id="future-view" gltf-model="../../assets/button_models/button.glb" 
        position="0 0.1 20" rotation="90 -90 0" scale="0.1 0.1 0.1" 
        navigate-button="targetScene: future-scenario"></a-entity>

<a-entity id="old-view" gltf-model="../../assets/button_models/button.glb" 
        position="0 0.1 20.3" rotation="90 -90 0" scale="0.1 0.1 0.1" 
        navigate-button="targetScene: old-scenario"></a-entity>

        <a-entity id="temple-inside" gltf-model="../../assets/button_models/button.glb" position="0 -0.2 19.7"  rotation ="90 -90 0"  scale = "0.1 0.1 0.1"></a-entity>
        <a-entity id="temple-inside" gltf-model="../../assets/button_models/button.glb" position="0 -0.2 20"  rotation ="90 -90 0"  scale = "0.1 0.1 0.1"></a-entity>
        <a-entity id="temple-inside" gltf-model="../../assets/button_models/button.glb" position="0 -0.2 20.3"  rotation ="90 -90 0"  scale = "0.1 0.1 0.1"></a-entity>
      </a-entity>
      
    </a-entity>

    <a-entity position = "-4 0.8 39">
      <a-entity position = "5 -1.2 -45">

                <!-- Left Wall -->
                <a-entity geometry="primitive: box; width: 1; height: 5; depth: 80" position="-5 2.5 40" visible="false"
                static-body></a-entity>
      
              <!-- Right Wall -->
              <a-entity geometry="primitive: box; width: 1; height: 5; depth: 80" position="5 2.5 40" visible="false"
                static-body></a-entity>
                
        <a-entity gltf-model="../../assets/future_models/roof.glb" position="-2 1.5 6.5"  rotation ="0 90 0"  scale = "0.6 0.5 1.35"></a-entity>

        <a-entity gltf-model="../../assets/future_models/column.glb" position="-12 0.5 2"  rotation ="0 -180 0"  scale = "0.01 0.011 0.01"></a-entity>
        <a-entity gltf-model="../../assets/future_models/column.glb" position="12 0.5 2"  rotation ="0 -180 0"  scale = "0.01 0.011 0.01"></a-entity>


        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="0 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="2 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="4 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="6 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="8 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="10 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="12 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>

        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-0 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-2 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-4 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-6 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-8 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-10 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-12 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.4"></a-entity>
      </a-entity>

      <a-entity position = "4 -1.2 -43">
        
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="0 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="2 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_modelglb" position="4 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="6 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="8 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="10 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="12 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>

        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-2 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-4 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-6 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-8 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-10 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-12 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
      </a-entity>

      <a-entity position = "6 -1.2 -41">

        
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="0 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="2 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="4 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="6 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="8 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="10 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="12 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>

        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-2 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-4 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-6 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-8 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-10 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-12 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
      </a-entity>

      <a-entity position = "5 -1.2 -39">


        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="0 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="2 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="4 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="6 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="8 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="10 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="12 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>

        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-2 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-4 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-6 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-8 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-10 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-12 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
      </a-entity>

      <a-entity position = "5 -1.2 -37">

        <a-entity gltf-model="../../assets/future_models/column.glb" position="-12 0.5 2"  rotation ="0 -180 0"  scale = "0.01 0.011 0.01"></a-entity>
        <a-entity gltf-model="../../assets/future_models/column.glb" position="12 0.5 2"  rotation ="0 -180 0"  scale = "0.01 0.011 0.01"></a-entity>

        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="0 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="2 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="4 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="6 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="8 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="10 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="12 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>

        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-2 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-4 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-6 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-8 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-10 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
        <a-entity gltf-model="../../assets/tower_models/tower_model.glb" position="-12 0 2"  rotation ="0 0 0"  scale = "0.35 0.7 0.35"></a-entity>
      </a-entity>

    </a-entity>

   
     

    </a-entity>
  </a-entity>
  </a-scene>


</body>

</html>